<h1><%= @doc.title %></h1>
<%# sanitraw - преобразование к html raw - вывод работающего html %>
<%= raw @doc.body %>

<%= link_to "Редактировать", edit_doc_path(@doc), :class => 'btn btn-warning'%>

<h2>Все Ваши usersdocs</h2>
<% @doc.users_docs.each do |ud| %>
    <% if current_user.name == ud.username %>
        <div class="alert alert-light">
            <h3><%= ud.username %></h3>
            <p><%= raw ud.body %></p>
        </div>
    <% end %>
<% end %>

<h2>Добавление нового UsersDoc</h2>

<%# build создает новый экземпляр модели UsersDoc соответствующий экземпляру @doc %>
<%= form_for([@doc, @doc.users_docs.build]) do |f| %> 
    <%= f.hidden_field :username, value: current_user.name %>
    <%= f.hidden_field :body, value: @doc.body %>

    <% if @doc.body.include?("@name") %>
        <%= label_tag("name:") %>
        <%= text_field_tag(:name) %> <br/>
    <% end %>

    <% if @doc.body.include?("@email") %>
        <%= label_tag("email:") %>
        <%= text_field_tag(:email) %> <br/>
    <% end %>

    <% if @doc.body.include?("@data") %>
        <%= label_tag("data:") %>
        <%= text_field_tag(:data) %> <br/>
    <% end %>

    <%= f.submit("Сохранить документ", {:class => 'btn btn-warning'}) %>
<% end %>
    
    